<style>
  .fa-google {
    font-size: 2.5rem;
    color: #fe404d;
    margin: 0 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 213, 255, 0.718);
    height: 4rem;
    width: 100%;
  }
  .nav-item {
    text-decoration: none;
    color: black;
    margin: 0 10px;
  }
</style>

<nav class="navbar">
  <a class="navbar-brand" href="/">
    <i class="fa-brands fa-google"></i>
  </a>
  <div class="nav-items">
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/listing">Listings</a>
    <a class="nav-item" href="/listing/create">Add New Listing</a>
    <% if(!currUser){ %>
    <a class="nav-item" href="/user/login">Login</a>
    <% }else{ %>
    <a class="nav-item" href="/user/logout">Logout</a>
    <% } %>
  </div>
</nav>
